body {
    font-family: "Arial", sans-serif;
    color: rgb(49, 49, 49);
    text-align: center;
    background-color: rgb(242, 242, 242);
}
header{
    margin:20px 0 20px 0;
    font-size: larger;
}
div{
    border: 2px solid rgb(49, 49, 49);
    padding: 20px;
}
progress{
    margin: 5px;
}